@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-bgdark: oklch(27.8% 0.033 256.848); /* oklch(0.32 0 0); */
  --color-bglight: oklch(0.85 0 0);
  --color-textdark: oklch(0.95 0 0);
  --color-textlight: oklch(27.8% 0.033 256.848);
  --color-accent: oklch(0.79 0.171 70.67);
  --color-theme01: oklch(0.63 0.0346 208.79);
  --color-theme02: oklch(0.63 0.0298 341.28);
}

body {
  font-family: 'Roboto', sans-serif;
}